
	<div class="bloc">
		<h1 class="title2">Conclusion about<br/> <img src="images/d8ec562b.angular-small.png"/>ngularJS</h1>
	</div>
	<ul>
		<li>Makes your web developments <span class="text-red">faster</span>.</li>
		<li>A lot of services/directives to respond to <span class="text-red">enterprise common needs</span>.</li>
        <ul>
            <li>i18n : <a href="http://docs.angularjs.org/guide/i18n" target="_blank">Guide</a></li>
            <li>Animation : <a href="http://docs.angularjs.org/guide/animations">Guide</a>
                            <a href="http://docs.angularjs.org/api/ngAnimate" target="_blank">ngAnimate</a>
                            <a href="http://www.nganimate.org/" target="_blank">ngAnimate.org</a>
                            <a href="http://docs.angularjs.org/api/ngAnimate/service/$animate" target="_blank">$animate</a>
            </li>
            <li>More modules at <a href="http://ngmodules.org" target="_blank">ngModules.org</a></li>
        </ul>
		<li>Create your own directives and services to make your application <span class="text-red">modular</span>
			and <span class="text-red">reusable</span>.</li>
		<li>Do not forget to <span class="text-red">make tests</span> to verify the correctness of new features, 
			catch bugs and notice regressions.</li>
	</ul>
	<img src="images/a4cf0be1.angularjs-900px.png" class="back-image" height="100px" />
	
<p contenteditable></p></div>
