<div class="bloc-content text-content contents">
	<ol type="I">
		<li class="content_title">Why using AngularJS?</li>
		<ol>
			<li>The different ways to build a web-app.</li>
			<li>Rest API advantages.</li>
			<li>Main JS Frameworks, and introduction to AngularJS</li>
			<li>Some considerations before starting an AngularJs project</li>
		</ol>
		<li class="content_title">AngularJS main concepts</li>
		<ol>
			<li>How does it work?</li>
			<li>Two-way Data Binding</li>
			<li>Expressions in Angular</li>
			<li>Digest cycle</li>
			<li>Introduction to Controllers</li>
            <li>Unit and E2E Testing</li>
		</ol>
	</ol>
<p contenteditable></p></div>
