<div class="container">
	<div class="bloc">
		<h1 class="title2"><img src="images/d8ec562b.angular-small.png"/>ngularJS<br/>Training</h1>
		
		<h1 class="subtitle"><i>Making frontend development fun!</i></h1>
	</div>
	<h1 class="note">Web and Mobile Frameworks - <img height="50px" src="images/91538879.worldline.png"/></h1>
    <div ng-controller="AnimationController" ng-cloak="">
        <button type="button" class="btn btn-primary"  ng-model="animationOn" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">Animation {{animationOn ? 'on':'off'}}</button>
    </div>

<p contenteditable></p></div>
