<div class="bloc-content text-content">
	<ul>
		<li>Form element and its children have several useful properties to perform client validation:</li>
		<ul>
			<li><i class="text-red">myForm.email.$pristine</i>: <i>True</i> if the user has not yet modified the element.</li>
			<li><i class="text-red">myForm.email.$dirty</i>: <i>True</i> if the user has already modified the element.</li>
			<li><i class="text-red">myForm.email.$valid</i>: <i>True</i> if the element validation has been successful.</li>
			<li><i class="text-red">myForm.email.$invalid</i>: <i>True</i> if the element has validation errors.</li>
			<li><i class="text-red">myForm.email.$error</i>: This object contains one property for each validation rule
				on the element. The value of the property is <i>true</i> if the rule has not been validated.</li>
		</ul>
	</ul>
<p contenteditable></p></div>