
	<div class="bloc-content text-content">
		<ul>
			<li>When building large applications with many views in Angular, it would be better to not have to load all artifacts such as <span class="text-red">controllers</span>, <span class="text-red">directives</span>, <span class="text-red">services</span>, etc., on the first load.</li>
			<li>Only the artifacts <span class="text-red">needed for the current route</span>
			should be loaded:</li>
			<ul>
				<li><span class="text-red">Speeds up</span> the initial page load.</li>
				<li>Does not <span class="text-red">waste bandwidth</span>.</li>
			</ul>
			<li>How can <span class="text-red">lazy loading</span> be achieved with Angular?</li>
		</ul>
	<p contenteditable></p></div>