
	<div class="bloc-content text-content">


		<ul>
			<li><a href="http://ionicframework.com/" target="_blank">Ionic Framework</a></li>
            <ul>
                <li>New complete Solution (Beta) for PhoneGap including Angular</li>
                <li>"The Bootstrap for PhoneGap"</li>
                <li><a href="http://ionicframework.com/docs/guide/" target="_blank">Guide</a></li>
            </ul>
            <li><a href="https://github.com/search?q=%40btford+angular-phonegap" target="_blank">AngularJS Native</a></li>
            <li><a href="https://github.com/revolunet/angular-carousel" target="_blank">AngularJs Touch Carousel</a></li>
            <li><a href="https://github.com/jtrussell/angular-snap.js" target="_blank">Angular Snap</a></li>
            <li>Don't forget to minify and optimize your code</li>
            <li>Use things we already viewed</li>
            <ul>
                <li>html2js</li>
                <li>RequireJS</li>
                <li>Bindonce</li>
            </ul>

		</ul>
	<p contenteditable></p></div>