
	<div class="bloc-content text-content">


		<ul>
            <li>Official Module : <a href="http://docs.angularjs.org/api/ngTouch" target="_blank">ngTouch</a></li>
			<li><a href="http://ngmodules.org/modules/ng-mobile" target="_blank">angular-mobile.js</a>
				It includes <span class="text-red">fastclick.js</span> code
				by default and directive <i class="text-red">ngSwipe</i>.</li>
			<li><a href="https://github.com/ajoslin/angular-mobile-nav">angular-mobile-nav</a> adds
				transitions to the angular navigation.</li>
            <li><a href="https://github.com/wzr1337/angular-gestures">Angular Gestures</a></li>
            <ul>
                <li>support events for Tap, DoubleTap, Swipe, Drag, Pinch, Rotate</li>
            </ul>
            <li><a href="https://github.com/opitzconsulting/angular-jqm">angular-jqm</a> small footprint (css animation)
            <ul>
                <li>Mobile directives (<i>jqmHeader</i>, <i>jqmCheckbox</i>, etc.)</li>
                <li>A new routing system, with transitions.</li>
                <li>Utility services (<i class="text-red">$orientation</i>, etc.).</li>
            </ul>
		</ul>
	<p contenteditable></p></div>