
	<div class="bloc-content text-content">
	
<editor editor-options="{showPreview:false , compileCode:false , theme:'terminal' , height:470 }">
<file type="ini" name="app.js">|-- Gruntfile.js						Grunt configuration file
|-- bower.json							Bower configuration file
|-- package.json						Project configuration file, using by npm 
|-- app/
|   +-- styles/
|   +-- images/
|   +-- index.html
|   +-- scripts/
|   |   +-- bootstrap.js				RequireJS file
|   |   +-- app.js						Main angular application file
|   |   +-- routes.js					Routes definition file
|   |   +-- lib/						JS libraries
|   |   +-- controllers/				
|   |   +-- directives/
|   |   +-- filters/
|   |   +-- services/
|   +-- templates/
|       +-- partials/
|       +-- views/
+-- node_modules/
+-- test/
    +-- karma-unit.conf.js				Unit tests config file
    +-- protractor-e2e.conf.js				e2e tests config file
    +-- lib/							Test libs
    +-- unit/							Unit tests
    +-- e2e/							e2e tests
</file>
</editor>
	
	<p contenteditable></p></div>
