
	<div class="bloc-content text-content">
		<ul>
			<li>You can use the method <i class="text-red">decorator()</i> of the service <i class="text-red">$provide</i> 
				to intercept a service instance creation, and to create a new instance which delegates the original one.</li>
		</ul>
		
<editor editor-options="{showPreview:false , showTabs:true , height:360, jsFiddle:true, module:'logApp' }">
	<file type="javascript" name="log.js">angular.module('logApp', [])
.value('configurationData',{mode: 'development'})
.controller('LogCtrl',function($scope, $log, configurationData) {
    $log.info('ProductionMode = ' + configurationData.mode);

    configurationData.mode = 'release';

    $log.info('ProductionMode = ' + configurationData.mode);
})
.config(['$provide', function($provide) {
    $provide.decorator('$log', [ '$delegate', 'configurationData',function($delegate, config) {
        return {
            error : function(text) { return $delegate.error(text); },
            warn : function(text) { return $delegate.warn(text); },
            log: function(text) { return $delegate.log(text); },
            info : function(text) {
                if (config.mode == 'development') {
                   $delegate.info("[INFO] " + text);
                }
            }
        };
    }]);
}]);</file>
<file type="html" name="log.html">&lt;div ng-controller="LogCtrl"&gt;
	
&lt;/div&gt;
</file>
</editor>
		
	<p contenteditable></p></div>