<div class="bloc-content text-content">
	<ul>
		<li>
			Javascript is a very permissive language, wich provides a lot of possibilities... 
		</li>
		<li>...But with almost no help from the compiler. Furthermore, js code can be very difficult to maintain.</li>
		<li>For these reasons, you have to provide a <span class="text-red">strong set of tests</span> with 
			any of your javascript application.</li>
	</ul>
	<img src="images/200c5641.test.jpeg" class="back-image" width="350" />
<p contenteditable></p></div>