<div class="bloc-content text-content">
	<table class="key-list">
		<thead>
			<tr>
				<th>Unit Testing</th>
				<!-- th>Midway Testing</th -->
				<th>New E2E Angular Framework: <a href="https://github.com/angular/protractor" target=”_blank”>Protractor</a></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<ul>
						<li>Code-level testing</li>
						<li>Used to test classes/objects/services</li>
						<li>Isolated/Sandboxed</li>
						<li>Mocking required (<i>angular-mocks.js</i>)
						</li>
						<li>Fast</li>
						<li>
							Uses: 
							<a href="http://karma-runner.github.io/0.8/plus/AngularJS.html" target="_blank">
							karma</a>
						</li>
						<li>Assertion framework: <a href="http://pivotal.github.io/jasmine/" target=”_blank”>Jasmine</a>
                            / <a href="https://qunitjs.com/" target=”_blank”>QUnit</a>
                            / <a href="http://visionmedia.github.io/mocha/" target=”_blank”>Mocha</a>
                        </li>
					</ul>
				</td>
				<td>
					<ul>
						<li>Application-level testing</li>
						<li>Used for integration tests</li>
						<li>Requires its own special web server</li>
						<li>Can only test rendererd HTML</li>
						<li>Slow</li>
						<li>Uses :  <i><a href="https://code.google.com/p/selenium/wiki/WebDriverJs" target=”_blank”>WebDriverJS</a></i>
                        <li>Assertion Framework : <a href="http://pivotal.github.io/jasmine/" target=”_blank”>Jasmine</a>
                        / <a href="http://cukes.info/" target=”_blank”>Cucumber</a>
                        / <a href="http://visionmedia.github.io/mocha/" target=”_blank”>Mocha (Beta support)</a></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
<p contenteditable></p></div>