
	<div class="bloc-content text-content">
		
		<ul>
			<li>Requires <i class="text-red">$injector</i> service, and then <i class="text-red">$filter</i> service
				from injector.</li>
		</ul>
		
<editor editor-options="{showPreview:false , compileCode:false ,showTabs:false , height:480 }">
<file type="javascript" name="filtersSpec.js">// test/unit/filters/filtersSpec.js
describe('Filters: split', function() {

    var filter, text = "Hello Worldline";

    beforeEach(inject(function($filter){
        filter = $filter('split');
    }));

    it('should have the correct length', function(){

        expect(filter(text,'','').length).toBe(3);
        expect(filter(text).length).toBe(text.length);
        expect(filter(text,5).length).toBe(text.length+3);
        expect(filter(text,20).length).toBe(text.length);
    });

    it('should troncate the result when necessary and add dots', function(){

        expect(filter(text,20)).toBe(text);

        var done = text.substring(0, 10) + "...";
        expect(filter(text,10)).toBe(done);
    });

    it('should put text uppercase when asked',function(){

        expect(filter(text,20,true)).toBe(text.toUpperCase());
    });
});</file>
</editor>
		
	<p contenteditable></p></div>