<div class="bloc-content text-content">
	<ul>
		<li><span class="text-red">AngularJS</span> is a great framework for testing all the functionalities of 
			your application.</li>
		<li>It provides <span class="text-red">Unit testing</span> and <span class="text-red">End-to-End (E2E) 
			testing</span>. Both have different purposes:</li>
		<ul>
			<li><span class="text-red">Unit testing</span>: Isolates and tests small "units" of code, without 
				taking context into consideration.</li>
			<li><span class="text-red">E2E testing</span>: Runs and tests full areas of an application, from the beginning to
				the end. Generally, they reproduce typical user operations.</li>
		</ul>
		<!-- li>... Between both is a third approach, known as <span class="text-red">Midway Testing</span>. </li -->
		<li>
		A good article if you want more details
		<a href="http://www.yearofmoo.com/2013/01/full-spectrum-testing-with-angularjs-and-karma.html#karma" target="_blank">here</a>
		</li>
	</ul>
<p contenteditable></p></div>