<div class="bloc-content text-content">
	<table>
		<tr>
			<td width="60%">
				<ul>
					<li>Unit tests and e2e tests files have a similar structure (<i>it</i>, <i>beforeEach</i>, <i>afterEach</i>).</li>
					<li>You can inject services in test functions, using <i class="text-red">inject()</i>.</li>
					<li>Scopes and controllers can be manually created, using <i class="text-red">$rootScope.$new()</i> and 
						<i class="text-red">$controller()</i>.</li>
					<li>Use the service <i class="text-red">$httpBackend</i> to mock the <i>$http</i> service.</li>
				</ul>
			</td>
			<td>
				<img src="images/3cc9f832.ngScenario.png" class="back-image" width="300" />
			</td>
		</tr>
	</table>
<p contenteditable></p></div>