<div class="bloc-content text-content">
	<ol class="small">
		<li>Get following <a href="https://github.com/worldline/TrainingJEEAngularJS/archive/step0.zip" target=”_blank”>AngularJS application war</a>.</li>
		<li>Extract the archive on your filesystem</li>
		<li>In your project directory, open a new console and execute these commands:</li>
		<ul>
			<li><i class="text-red">mvn jetty:run</i>:  Build & Run a server to access the application</li>
		</ul>
		<li>Product description page is handled by two files: the template <i class="text-red">detail.html</i> and 
			the controller <i class="text-red">DetailController.js</i>. Use the Angular two way binding to fill the
			template with the product informations.</li>
		<li>Test your application at following url: <a href="http://localhost:8080/bookcat#/book/1" target=”_blank”>http://localhost:8080/bookcat#/book/1</a></li>
	</ol>
<p contenteditable></p></div>
