<div class="bloc-content text-content">
	<ol class="small">
		<li>Get and install <a href="http://nodejs.org/" target=”_blank”>Node.js</a>.</li>
		<li>Get following <a href="data/ecommerce.zip" target=”_blank”>AngularJS application skeleton</a>.</li>
		<li>Extract the archive on your filesystem</li>
		<li>In your project directory, open a new console and execute these commands:</li>
		<ul>
			<li><i class="text-red">npm install</i>: Install server side dependencies</li>
			<li><i class="text-red">npm install -g bower</i>: Install bower globally</li>
			<li><i class="text-red">bower install</i>: Install client side dependencies</li>
			<li><i class="text-red">node server</i>: Run a server to access the application</li>
		</ul>
		<li> <strong> remark: </strong> If you have to set the proxy, then define HTTP_PROXY and HTTPS_PROXY environment variables </li>
		<li>Product description page is handled by two files: the template <i class="text-red">detail.html</i> and 
			the controller <i class="text-red">DetailController.js</i>. Use the Angular two way binding to fill the
			template with the product informations.</li>
		<li>Test your application at following url: <a href="http://localhost:3000/#/book/1" target=”_blank”>http://localhost:3000/#/book/1</a></li>
	</ol>
<p contenteditable></p></div>