<div class="bloc-content text-content">
	<ol>
		<li>
			Write the e2e tests to verify the behavior of the <i>detail</i> page:
			<ul>
				<li>We get the correct product from the <i>$http</i> service (for example, by testing if the name is correctly displayed).</li>
				<li>The price is updated when editing the quantity input.</li>
				<li>The product image url is valid.</li>
			</ul>
		</li>
		<li>
			Tips:
			<ul>
				<li>Create your test file in test/e2e, whatever name</li>
				<li>run <code>grunt test:e2e</code> to run your test (server has to be started)</li>
			</ul>
		</li>

	</ol>
<p contenteditable></p></div>