<div class="bloc-content text-content">
	<ol>
		<li>In the <i class="text-red">ecommerce</i> application, complete the template <i class="text-red">
			catalog.html</i> and its controller <i class="text-red">CatalogController</i> to display the
			informations of a product. Use the correct directive to show all the available products.
			<br/>
			Filters and pagination will be implemented later.	
		</li>
		<li>Show the <i>new</i> image if the product is new (<i class ="text-red">isNew</i> property 
			is <i>true</i>).</li>
		<li>Handle the click on the <i>Add to Basket</i> button, by adding the selected product to the cart of the
			current user (create a temporary one if there is no logged user) and redirect to the basket page.</li>
        <li>Complete the BasketController (Use some services from sdco module)</li>
	</ol>
<p contenteditable></p></div>
