<div class="bloc-content text-content">
	<ol>
		<li>Handle the following filters in the <i class="text-red">catalog.html</i> template:</li>
		<ol>
			<li>Number of results per page</li>
			<li>Filter by name</li>
			<li>Order by name/price/rating</li>
		</ol>
		<li>Create a filter called <i class="text-red">startFrom</i>, which returns a collection, starting from
			a specified index. Use it with the <i class="text-red">pagination</i> directive, in the product gallery.
			Details about <i class="text-red">pagination</i> are available at: 
			<a href="http://angular-ui.github.io/bootstrap/" target=”_blank”>http://angular-ui.github.io/bootstrap/</a>.</li>
	</ol>
<p contenteditable></p></div>
