<div class="bloc-content text-content">
	<table>
		<tr>
			<td width="50%">
				<ul>
					<li>Many useful features:</li>
					<ul>
						<li>Easy <span class="text-red">two-way data binding</span>.</li>
						<li><span class="text-red">Declarative</span> approach.</li>
						<li>Architecture patterns (<span class="text-red">MVC</span>, <span class="text-red">DI</span>).</li>
						<li><span class="text-red">Routing</span> and <span class="text-red">templating</span>.</li>
					</ul>
					<li>More HTML, less JS:</li>
					<ul>
						<li><span class="text-red">Enhance HTML</span> to support new features.</li>
						<li><span class="text-red">Minimize</span> direct DOM manipulation.</li>
					</ul>
					<li><span class="text-red">Testing</span> isn't an after-thought.</li>
				</ul>
			</td>
			<td>
				<img src="images/6d5b2814.happy_developer.gif" width="400" class="back-image" />
			</td>
		</tr>
	</table>
<p contenteditable></p></div>