<div class="bloc-content image-content">
	<!--img src="images/framework-comparison.png" class="back-image" /-->
	<img src="images/33831249.js_fwks_trends.jpg" class="back-image" />
	<br/>
	<a href="http://www.google.com/trends/explore#cat=0-5&q=angular.js%20%2B%20angularjs%20%2B%20%22angular%20js%22%2C%20ext.js%20%2B%20%20extjs%2B%20%22ext%20js%22%2C%20backbone.js%20%2B%20%20backbonejs%20%2B%20%22backbone%20js%22%2C%20ember.js%20%2B%20emberjs%20%2B%20%22ember%20js%22%2C%20knockout.js%20%2B%20knockoutjs%20%2B%20%22knockout%20js%22&cmpt=q" target="_blank">
	Google Trends</a>
<p contenteditable></p></div>
