<div class="bloc-content text-content">
	<table>
		<tr>
			<td width="40%">
				<ul>
					<li>Downloading pages...</li>
					<li>Rendering page...</li>
					<li>Loading external resources...</li>
					<li>Executing scripts...</li>
				</ul>
				<br/>
				<ul>
					<li class="content_title">We want smooth user experience!</li>
				</ul>
			</td>
			<td>
			<img src="images/8e560c98.loading.jpg" width="280" class="back-image" />
			<br/>
			<img src="images/c415d279.loading_bis.jpg" width="280" class="back-image" />
			</td>
		</tr>
	</table>
<p contenteditable></p></div>