<div class="bloc-content text-content">
	<table>
		<tr>
			<td width="50%">
				<ul>
					<li>Client Ajax engine has to reflect back to the server any
						interaction state changes, deferring data handling, UI state
						management and UI update logic to the server.</li>
					<li>With Components Oriented Frameworks : coding effort is
						around <b>20% JS/80% Java</b>.</li>
				</ul>
			</td>
			<td><img src="images/97439d0f.multi_page_web_app.png" class="back-image" width="520" />
			</td>
		</tr>
	</table>
<p contenteditable></p></div>
