<div>
    <div class="lateral-form">
        Results per page: <br/>
        <!-- TODO: Number of products displayed per page. -->
        <input type="number" id="nbFilter" name="nbFilter"/> Filter by name:
        <br/>
        <!-- TODO -->
        <input type="text" id="nameFilter" name="nameFilter"/> <br/> Order
        by: <br/>
        <!-- TODO -->
        <select name="bookOrderBy" id="bookOrderBy">
            <option>name</option>
            <option>price</option>
            <option>rating</option>
        </select>
        <!-- TODO -->
        <br/> Reverse filter: <input type="checkbox"/> <br/>
    </div>

    <div class="k-catalog list-products">
        <!-- hproduct/ -->

        <article class="k-product hproduct" ng-repeat="product in products">
            <div class="photo-data">
                <p>
                    <a ng-href="#/book/{{product.id}}">
                        <img class="photo" ng-src="{{getImage(product.id)}}" />
                    </a>
                </p>
            </div>

            <p class="extra new" ng-if="product.isNew">new</p>

            <h3 class="fn name">
                <a ng-href="#/book/{{product.id}}" title="See Product sheet">{{product.name}}</a>
            </h3>

            <p ng-class="getRatingClass(product)">

        <span ng-show="product.comments">
            <a href="#comments">{{product.comments.length}} comment(s)</a>
        </span>
        <span ng-hide="product.comments">
            No comment
        </span>
            </p>

            <div class="price-data">
                <p class="all-prices">
                    <strong class="price new">{{product.price | currency}}</strong>
                </p>
            </div>
            <div class="buyZone">
                <p class="buy">
                    <a href="#/basket" ng-click="addToCart(product)">Add to basket</a>
                </p>
            </div>
        </article>
        <!-- /hproducts -->
    </div>

    <div class="bloc-pagination">
        <!--todo number of results per page-->
    </div>
</div>
