<article class="k-product-sheet">
    <div class="hproduct k-product">
        <div class="photo-data">
            <!-- 
                TODO: 
                load the image in data/img/ based on the product id... 
            -->
            <img class="photo" ng-src="{{getImage(product.id)}}" />
        </div>
        <div class="product-data">
            <h3 class="fn name">{{product.name}}</h3>
            <h4 class="category">
                <a href="#">{{product.category}}</a>
            </h4>
            <!-- 
                TODO: 
                return correct CSS class on <p>: rating and zero/one/two/three/four/five 
            -->
            <p ng-class="getCSSRating(product.comments)">
                <a href="#comments">{{product.comments.length}} comment(s)</a>
            </p>
            <p class="description">{{product.description}}</p>
            Quantity: <input type="number" class="product-qty" min="1" ng-model="quantity" />
            <br />
            <div class="price-data">
                <strong class="price sale">
                    {{product.price * quantity |currency}}
                </strong>
            </div>
            <div class="buyZone">
                <div class="availability">
                    <p>
                        <strong>Availability :</strong> immediate delivery
                    </p>
                </div>
                <p class="buy">
                    <a>Add to basket</a>
                </p>
            </div>
        </div>
    </div>
</article>