<div class="bloc-content text-content">
	<ul>
		<li>The controller only goal is to contain the  logic needed to render the associated view.</li>
		<li>Do not use them for:</li>
		<ul>
			<li>To instantiate/manage the life-cycle of other components (such as services).</li>
			<li>Input formatting (Use form controls instead).</li>
			<li>Output filtering (Use Angular filters instead).</li>
			<li>To run stateless or stateful code shared across controllers (Use Angular services instead).</li>
			<li>DOM manipulation.</li>
		</ul>
	</ul>
<p contenteditable></p></div>