<div class="bloc-content text-content">
		
<editor editor-options="{showPreview:true , height:200 }">
<file type="html" name="index.html">Login: {{login}}
&lt;br/&gt;
&lt;input type="text" ng-model="login" placeholder="Insert login here..."/&gt;
&lt;button class="btn" ng-click="login='Toto'"&gt;Set login to Toto&lt;/button&gt;
</file>
</editor>

	<ul>
		<li><span class="text-red">ng-click</span> event is triggered on a click on the associated html element.</li>
	</ul>
<p contenteditable></p></div>