<div class="bloc-content text-content">
		
<editor editor-options="{showPreview:true , height:200 }">
<file type="html" name="user.html">Login: {{login}}
&lt;br/&gt;
&lt;input type="text" ng-model="login" placeholder="Insert login here..."/&gt;
</file>
</editor>
		
	<ul>
		<li><span class="text-red">{ {login} }</span> displays <span class="text-red">$scope.login</span> value.</li>
		<li><span class="text-red">ng-model</span> directive binds input value to the associated scope variable.</li>
	</ul>
<p contenteditable></p></div>