<div class="bloc-content text-content">
	<table>
		<tr>
			<td width="30%">
				<ul>
					<li><span class="text-red">Digest cycle</span>: loop during which Angular checks if there are 
					any changes to all the variables attached to all the <span class="text-red">$scopes</span>.</li>
					<li>Angular will monitor all changes made on <span class="text-red">$scope</span> properties.</li>
				</ul>
			</td>
			<td>
				<img src="images/79c32334.concepts-runtime.png" width="650" class="back-image">
			</td>
		</tr>
	</table>
<p contenteditable></p></div>