<div class="bloc-content text-content">
	<ul>
		<li>Parsed and executed by AngularJS.</li>
		<li>Look like Javascript expressions, but are not!</li>
		<li>Used mainly for binding and directives attributes.</li>
		<li>Available keywords: <i>true</i>, <i>false</i>, <i>undefined</i>,
			<i>null</i>.
		</li>
		<li>Supported operators, ordered by priority:</li>
	</ul>
	<table class="key-list">
		<thead>
			<tr>
				<th>Operator</th>
				<th>Description</th>
				<th>Operator</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>. [...] (...)</td>
				<td>Object property, Array element, call of a method</td>

				<td>== != === !==</td>
				<td>=== and !== only available in 1.1.2.</td>
			</tr>
			<tr>
				<td>(...) [...] {...}</td>
				<td>Operations group, Array, Object</td>

				<td>&&</td>
				<td></td>
			</tr>
			<tr>
				<td>! - +</td>
				<td>Unary operators (-10)</td>

				<td>||</td>
				<td></td>
			</tr>
			<tr>
				<td>* / %</td>
				<td></td>

				<td>=</td>
				<td>Variable allocation</td>
			</tr>
			<tr>
				<td>+ -</td>
				<td>Binary operators (15 - 10 + 5)</td>

				<td>|</td>
				<td>Filters</td>
			</tr>
			<tr>
				<td>< > <= >=</td>
				<td>Comparison operators</td>

				<td>;</td>
				<td>Instruction separator</td>
			</tr>
		</tbody>
	</table>

	<ul>
		<li>New in v1.2 :  <span class="text-red">?</span> operator</li>
	</ul>
<p contenteditable></p></div>