<div class="bloc-content text-content">
	<ul>
		<li>Browser loads the HTML and then AngularJS script.</li>
		<li>Angular waits for the event <span class="text-red">DOMContentLoaded</span>...</li>
		<li>... And looks for the <span class="text-red">ng-app</span> directive in the HTML.</li>
		<li>The module specified in this directive will be used to configure the injector...</li>
		<li>...Which is used to create the <span class="text-red">$rootScope</span> and the <span class="text-red">$compile</span> service.</li>
		<li>$compile compiles the DOM and links it with $rootScope.</li>
	</ul>
	<img src="images/39a76f1b.ngapp_rootScope.png" class="back-image" width="350" />
<p contenteditable></p></div>
