<div class="bloc-content text-content">
	<ul>
		<li><span class="text-red">Exercise</span>: Complete the directive <i class="text-red">starRating</i>, 
			by adding two css classes on the associated element: <i>rating</i> and <i>two</i>. You can use 
			the method <i>addClass(className)</i> on the object <i>elem</i>.</li>
		<li>Add a <i>rating</i> attribute on the <i>p</i> HTML element, which can have the following values: <i>zero</i>,
			<i>one</i>, <i>two</i>, <i>three</i>, <i>four</i> or <i>five</i>. In the <i>link()</i> function of your
			directive, use the value of the attribute <i>rating</i> (by using <i>attrs.rating</i>) to add the
			corresponding CSS class.</li> 
	</ul>
	
<editor editor-options="{showPreview:false, showTabs:true , height:150,jsFiddle:true,module:'app'}" >
	<file type="javascript" name="rating.js">angular.module('app',[])
    .directive('starRating', function () {
    return {
		link: function (scope, elem, attrs) {
			// TODO
		}
    };
});
</file>
<file type="html" name="rating.html">&lt;p star-rating&gt;2 comments&lt;/p&gt;

</file>
    <file type="css" name="style.css">/* Ratings */
        p.rating {font-size: 0.75em;}
        .rating {
        padding-left: 65px;
        margin: 10px 0;
        }
        .rating a:link {color: #777; background: #FFF;}
        .five {
        color: #000;
        background: #FFF url(http://s29.postimg.org/jayhjd33r/bg_ratings.png) 0 -340px no-repeat;
        }
        .four {
        color: #000;
        background: #FFF url(http://s29.postimg.org/jayhjd33r/bg_ratings.png) 0 -262px no-repeat;
        }
        .three {
        color: #000;
        background: #FFF url(http://s29.postimg.org/jayhjd33r/bg_ratings.png) 0 -193px no-repeat;
        }
        .two {
        color: #000;
        background: #FFF url(http://s29.postimg.org/jayhjd33r/bg_ratings.png) 0 -127px no-repeat;
        }
        .one {
        color: #000;
        background: #FFF url(http://s29.postimg.org/jayhjd33r/bg_ratings.png) 0 -60px no-repeat;
        }
        .zero {
        color: #000;
        background: #FFF url(http://s29.postimg.org/jayhjd33r/bg_ratings.png) 0 1px no-repeat;
        }</file>
</editor>

<p contenteditable></p></div>

<!--
angular.module('app',[])
    .directive('starRating', function () {
    return {
        link: function (scope, elem, attrs) {
            elem.addClass('rating');
            var rate;
            switch(attrs.rating){
                case "1": rate="one"; break;
                case "2": rate="two"; break;
                case "3": rate="three"; break;
                case "4": rate="four"; break;
                default: break;
            }
            elem.addClass(rate);
        }
    };
});-->