<div class="bloc-content text-content">
	<ul>
		<li>A few last things about the <span class="text-red">isolate</span> scope...</li>
		<ul>
			<li>If no <i class="text-red">propertyName</i> is specified when using <i class="text-red">@</i>/
				<i class="text-red">=</i>/<i class="text-red">&</i>, then the attribute name is assumed to be 
				the same as the local name.</li>
			<li><i>Angular 1.1.5 only</i>: You can make one attribute optional, by using the character 
				<i class="text-red">?</i>.</li>
		</ul>
	</ul> 
	<img src="images/82173f06.scope_local_details.png" class="back-image" width="800" />
<p contenteditable></p></div>