<div class="bloc-content text-content">
	<ul>
		<li>By appending  <i class="text-red">directive-start</i> and <i class="text-red">directive-end</i> to a directive 
			it is possible to have the directive act on a group of elements.</li>
	</ul>
	
<editor editor-options="{showPreview:false , showTabs:false , height:200 }">
<file type="html" name="directives.html">&lt;table&gt;
  &lt;tr ng-repeat-start="item in list"&gt;I get repeated&lt;/tr&gt;
  &lt;tr ng-repeat-end&gt;I also get repeated&lt;/tr&gt;
&lt;/table&gt;

</file>
</editor>
	
<p contenteditable></p></div>