<div class="bloc-content text-content">
	<ul>
        <li>Directives are markers on a DOM element. They can be</li>
        <ul>
            <li>attribute, element name and CSS class</li>
        </ul>
        <li>"Directives are the coolest feature on Angular... They teach Browser new Tricks" - <i>Misko Hevery</i> </li>
		<li>Directives are used to make <span class="text-red">custom HTML elements</span> and 
			<span class="text-red">simplify DOM manipulation</span>.</li>
		<li>They can modify the behavior of new and existing DOM elements, by 
			<span class="text-red">adding them features</span> (<i>datepicker</i>, <i>autocomplete</i>, ...).</li>
		<li>Angular comes with its own set of <a href="http://docs.angularjs.org/api/ng/directive" target="_blank">built-in directives</a>, as well as the ability to add your own ones.</li>
	</ul>
<p contenteditable></p></div>