<div class="bloc-content text-content">
	<ul>
		<li>Directives wrap <span class="text-red">HTML fixed behavior</span>, 
			<span class="text-red">CSS</span> and <span class="text-red">JS</span> script into one single element.</li>
        <li>That element will tell the <i>AngularJS's HTML compiler</i> to add that special feature to that DOM element</li>
	</ul>
		
<editor editor-options="{showPreview:false , showTabs:false ,compileCode:false, height:200 }">
<file type="html" name="datepicker.html">&lt;datepicker /&gt;
&lt;!-- OR --&gt;
&lt;input datepicker /&gt;
&lt;!-- OR --&gt;
&lt;input class="datepicker" /&gt;</file>
</editor>

<p contenteditable></p></div>