<div class="bloc-content text-content">
	<ul>
		<li><i class="text-red">ngDisabled</i>: Makes the button enabled/disabled.</li>
		<li><i class="text-red">ngReadOnly</i>: Makes the input read only.</li>
		<li><i class="text-red">ngInclude</i>: Fetches, compiles and includes an external HTML fragment.</li>
		<li><i class="text-red">ngBind</i>: Replaces the text content of the specified HTML element with 
			the value of a given expression. Same as {{expression}}. Useful to hide bindings while the page is loading.</li>
		<li><i class="text-red">ngCloak</i>: Prevents the HTML template from being briefly displayed by the 
			browser in its raw/uncompiled form while your application is loading.</li>
		<li><i class="text-red">ngBindHtmlUnsafe</i>: Creates a binding that will <i class="text-red">innerHTML</i>
			the expression result.</li>
		<li><i class="text-red">ngHref</i>: Used instead of <i>href</i>.</li>
		<li>...</li>
	</ul>
<p contenteditable></p></div>