<div class="bloc-content text-content">
	<ul>
		<li>Conditionally change the DOM structure.</li>
	</ul>
		
<editor editor-options="{showPreview:true , showTabs:false , height:270 }">
<file type="html" name="switch.html">Switch value: &lt;input type="text" ng-model="switchValue"/&gt;
&lt;div ng-switch="switchValue"&gt;
	&lt;div ng-switch-when="1"&gt;First bloc&lt;/div&gt;
	&lt;div ng-switch-when="2"&gt;Second bloc&lt;/div&gt;
	&lt;div ng-switch-when="3"&gt;Third bloc&lt;/div&gt;
	&lt;div ng-switch-default&gt;Other cases...&lt;/div&gt;
&lt;/div&gt;

</file>
</editor>

<p contenteditable></p></div>