
	<div class="bloc-content text-content">
		<ul>
			<li>Services are singletons</li>
			<li>They offer a way for <span class="text-red">separating logic from your controllers</span> and can be used in several places (DI)</li>
			<li>Angular provides several ways to create your services, from the most easy to the more complex</li>
			<li><i>Warning</i>: Prefix your services names by something specific, because 2 services with the same name are not differentiables event if they are in different modules</li>
            <li>Each service has a <em>provider</em>, either created manually, either created by Angular. Create your own provider is mandatory when you want your service to be configurable at bootstrap</li>
		</ul>
	<p contenteditable></p></div>