
	<div class="bloc-content text-content">
		<ul>
			<li><i class="text-red">value</i> or <i class="text-red">constant</i> for an existing value.</li>
			<ul>
				<li><i class="text-red">value</i> for an independent object/function. Can be decorated.</li>
				<li><i class="text-red">constant</i> for configuration data. Can't be decorated.</li>
			</ul>
			<li><i class="text-red">factory</i>, if you need another service. This is the most common way to create services.</li>
			<li><i class="text-red">service</i>, if you love Java and want to use object notation, passing a constructor which will
				be constructed using the <i>new</i> keyword.</li>
			<li><i class="text-red">provider</i>, if you need to configure the service.</li>
		</ul>
	<p contenteditable></p></div>