
	<div class="bloc-content text-content">
		<ul>
			<li>Registers a <span class="text-red">factory function</span> for the service.</li>
			<li>This function is invoked <span class="text-red">once</span>, since services are singletons.</li>
			<li>It can optionally take parameters which will be injected by Angular.</li>
		</ul>
		
<editor editor-options="{showPreview:false , showTabs:true , height:380 }">
	<file type="javascript" name="factory1.js">var appServices = angular.module('ecommerce.services', ['ngResource']);

appServices.factory('UserService', function($resource) {
    var ret = {};
    ret.login = function(login,password){
       // ...
    };
    ret.register = function(newUser){
        //...
    };
    return ret;
});</file>
    <file type="javascript" name="factory2.js">appServices.factory('apiToken', function(clientId) {

        var encrypt = function(data1, data2){
            return (data1 + ':' + data2).toUpperCase();
        };
        var secret = window.localStorage.getItem('myApp.secret');
        var apiToken = encrypt(clientId,secret);

        return apiToken;
        });</file>
</editor>

		<ul>
			<li>Factories are handled this way by Angular:</li>
		</ul>
		
		<img src="images/7695558e.factory.png" width="500" class="back-image" />
	<p contenteditable></p></div>