
	<div class="bloc-content text-content">
		<ul>
			<li><a href="http://docs.angularjs.org/api/ng/service/$location" target="_blank">$location</a> is used any time your application needs to react to a change in the current URL or if you want to change the current URL in the browser.</li>
			<li><i>Warning</i>: Does not fully reload the page when browser URL is changed. To reload the page after changing the URL, use <span class="text-red">$window.location.href</span>.</li>
			<li>Use <span class="text-red">$location.path(path)</span> to return or set <span class="text-red">path</span> of current url.</li>
			<li>Use <span class="text-red">$location.url(url)</span> to return or set <span class="text-red">path, query string and hash</span> <i>(e.g. /path?a=b#hash)</i> of current url.</li>
            <li>Reminder : Here the URL is about Angular Url, not absolute URL. For that you can use <span class="text-red">$location.absUrl()</span></li>
		</ul>

	
	<p contenteditable></p></div>