
	<div class="bloc-content text-content">
		<ul>
            <li>It's a container</li>
			<li>A place where you can collect and organize <span class="text-red">controllers</span>, 
				<span class="text-red">services</span>, <span class="text-red">directives</span>, and <span class="text-red">filters</span>.</li>
			<li>Needs at least a <span class="text-red">module name</span>, and an <span class="text-red">array naming all its dependencies</span>.</li>
		</ul>
		
		<img src="images/b2378651.module.png" width="900" class="back-image" />
	<p contenteditable></p></div>