
	<div class="bloc-content text-content">
		<ul>
			<li><span class="text-red">$log</span>: Simple service for
				logging. Writes messages in browser console (<i class="text-red">info()</i>,
				<i class="text-red">log()</i>, <i class="text-red">warn()</i>, <i
				class="text-red">error()</i>).</li>
			<li><span class="text-red">$timeout</span>: Wrapper for <i class="text-red">window.setTimeout</i>.</li>
			<li><span class="text-red">$cookies</span>: Provides read/write access to browser's cookies. Requires
				module <i class="text-red">ngCookies</i> (<i>angular-cookies.js</i>).</li>
			<li><a href="http://docs.angularjs.org/api/ng/service" target="_blank">... And many more!</a></li>
		</ul>

	<p contenteditable></p></div>