
	<div class="bloc-content text-content">
		<ul>
			<li>The most advanced way to register a service factory, using <i class="text-red">module.provider(name, providerType)</i></li>
			<li>Parameter <i class="text-red">name</i> is the name of the service, without the <i>Provider</i> suffix.</li>
			<li>Parameter <i class="text-red">providerType</i> can be either an object or a function, and represents the service provider.</li>
			<li>This object/function has to have a <i class="text-red">$get</i> function, which will return a service instance.</li>
		</ul>	
	<p contenteditable></p></div>