
	<div class="bloc-content text-content">

<editor editor-options="{showPreview:false , showTabs:false , height:650 }">
	<file type="javascript" name="http.js">function CBCtrl($scope, $resource) {

	var CreditCard = $resource('/user/:userId/card/:cardId',
		{userId:123, cardId:'@id'}, {
			// Add custom method charge to the resource.
			// Use HTTP Post with a custom parameter.
			charge: {method:'POST', params:{charge:true}
		}
	});

	// We can retrieve a collection from the server
	var cards = CreditCard.query(); // isArray: true
	// GET: /user/123/card
	// server returns: [ {id:456, name:'Smith'} ];

	var card = cards[0];

	// each item is an instance of CreditCard
	expect(card instanceof CreditCard).toEqual(true);

	card.name = "Bob Marley";
	// non GET methods are mapped onto the instances
	card.$save();
	// POST: /user/123/card/456 {id:456, name:'Bob Marley'}
	// server returns: {id:456, name: 'Bob Marley'};

	// our custom method is mapped as well.
	card.$charge({amount:9.99});
	// POST: /user/123/card/456?amount=9.99&charge=true {id:456, name:'Bob Marley'}


	// we can create an instance as well
	var newCard = new CreditCard({id:10});
	newCard.name = "Bob Sponge";
	newCard.$save();

	// POST: /user/123/card {id:10, name:'Bob Sponge'}
	// server returns: {id:10, name: 'Bob Sponge'};
	expect(newCard.id).toEqual(10);
}
</file>
</editor>


    <p contenteditable></p></div>
