
	<div class="bloc-content text-content">
		<ul>
			<li>Lets you interact with <span class="text-red">RESTful</span> server-side data sources.</li>
			<li>The returned object will have action methods which provide high-level behaviors (<i>$save</i>, <i>$delete</i> etc.).</li>
			<li>Need <i>ngResource</i> module (with <i>angular-resource.js</i> file included).</li>
		</ul>
		
		<img src="images/e2e025a0.angular-resource-js.png" class="back-image" width="900" />
		<br/>
		<img src="images/f6879017.angular-resource-module.png" class="back-image" width="900" />
	<p contenteditable></p></div>