
    <div class="bloc-content text-content">
        <ul>
            <li>$http is not the best choice for interacting with RESTful API</li>
            <li>We need a client REST providing a high-level behaviour</li>
            <li>There are two major actor for now : </li>
            <ul>
                <li><a href="http://docs.angularjs.org/api/ngResource/service/$resource" target="_blank">$resource</a> is a service developed by the core Team of Angular.</span></li>
                <li><a href="https://github.com/mgonto/restangular" target="_blank">Restangular</a> is an equivalent which bring more features and try to simplify the usage</li>
            <li><a href="https://github.com/mgonto/restangular#differences-with-resource" target="_blank">Differences between Restangular and $resource</a> </li>
                <li>See examples in Previous Documentation links</li>
            </ul>
        </ul>

<p contenteditable></p></div>
